/output*
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
/br.log

board/raspberrypi/overlay/root/.snes9x/rom/*.zip
board/raspberrypi/overlay/root/.snes9x/boxart/*.png